{% extends 'base.html' %}

{% block content %}
    <div class="container">

        {% include 'nav.html' %}

        <div class="row mt-4">
            <h3>Lista de Contatos</h3>

            <form method="GET" class="row">
                <div class="col-9">
                    <input type="text" name="pesquisa"class="form-control">
                </div>

                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </form>

            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Assunto</th>
                            <th>Respondido?</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for contato in context['dados'] %}

                        <tr>
                            <td> {{contato.nome}} </td>
                            <td> {{contato.email}} </td>
                            <td> {{contato.assunto}} </td>
                            <td>
                                {% if contato.respondido == 0 %}
                                    Não
                                {% else %}
                                    Sim
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('contato_detalhes', id=contato.id) }}" class="btn btn-info btn-sm"><img src="{{ url_for('static', filename='img/seta.png') }}" style="width: 20px;"></a></td>
                        </tr>

                        {% endfor%}

                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock %}